### Other corrections

* Removing columns that contain only NaN values

* Removing rows - 2.5% of the records were removed — those that had more than 116 columns filled only with NaN values

* Unifying data labels within cells

In [1]:
import pandas as pd

dfall = pd.read_csv("df18-21.csv", low_memory=False)

dfall.shape

(89585, 128)

### Removing columns that contain only NaN values

In [2]:
dfall.columns[dfall.isna().all()]

dfall = dfall.drop(columns=dfall.columns[dfall.isna().all()])

dfall.shape

(89585, 122)

### Removing rows

* 2.5% of the records were removed — those that had more than 116 columns filled only with NaN values

In [3]:
#controling and removing of NaN in rows

nan_counts_per_row = dfall.isnull().sum(axis=1)

rows_with_more_than_116_nan = dfall[nan_counts_per_row > 116]

# print(f"Count of rows: {len(rows_with_more_than_116_nan)}")

#drop rows with 116 NaN values
dfall = dfall[nan_counts_per_row <= 116]

dfall

,Year,Age,Country,Education,Gender,Current_Role,Current_Yearly_Compensation,Time_Writing_Code,Time_Using_Machine_Learning_Methods,Primary_Tool_Used_For_Data_Analysis,...,Programming_Languages_R,Programming_Languages_Ruby,Programming_Languages_SQL,Programming_Languages_Sas,Programming_Languages_Scala,Programming_Languages_Stata,Programming_Languages_Swift,Programming_Languages_Typescript,Programming_Languages_Vba,Programming_Languages_Visual_Basic
0,2018,45-49,USA,Doctoral degree,Female,Consultant,NaN,I have never written code but I want to learn,I have never studied machine learning but plan...,"Cloud-based data software & APIs (AWS, GCP, Az...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,30-34,Indonesia,Bachelor’s degree,Male,Other,"10-20,000",I have never written code but I want to learn,I have never studied machine learning but plan...,"Basic statistical software (Microsoft Excel, G...",...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,30-34,USA,Master’s degree,Female,Data Scientist,"0-10,000",5-10 years,< 1 year,Local or hosted development environments (RStu...,...,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,35-39,USA,Master’s degree,Male,Not employed,NaN,5-10 years,4-5 years,Local or hosted development environments (RStu...,...,R,NaN,SQL,NaN,NaN,NaN,NaN,Typescript,NaN,NaN
4,2018,22-24,India,Master’s degree,Male,Data Analyst,"0-10,000",5-10 years,2-3 years,"Advanced statistical software (SPSS, SAS, etc.)",...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89580,2021,30-34,Other,Bachelor’s degree,Man,Data Analyst,"15,000-19,999",1-3 years,1-2 years,"Business intelligence software (Salesforce, Ta...",...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89581,2021,22-24,Other,Master’s degree,Man,Student,NaN,1-3 years,1-2 years,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89582,2021,50-54,Other,Doctoral degree,Man,Research Scientist,$0-999,I have never written code,NaN,"Basic statistical software (Microsoft Excel, G...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89583,2021,45-49,United States of America,Master’s degree,Man,Data Scientist,NaN,5-10 years,4-5 years,NaN,...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89584,2021,18-21,India,Bachelor’s degree,Man,Business Analyst,$0-999,I have never written code,NaN,"Advanced statistical software (SPSS, SAS, etc.)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Removing empty space within cells

In [4]:
# removing empty spaces

dfall = dfall.apply(lambda col: col.map(lambda x: x.strip() if isinstance(x, str) else x))

# check empty spaces
mask = dfall.stack().map(lambda x: isinstance(x, str) and (x != x.strip()))

if mask.any():
    print("Cells contain empty spaces")
else:
    print("Cells are clean")

Cells are clean

### Unifying data labels within cells

Column Year

In [5]:
dfall["Year"].unique()
dfall.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 87257 entries, 0 to 89584
Data columns (total 122 columns):
 #    Column                                                Dtype
---   ------                                                -----
 0    Year                                                  int64
 1    Age                                                   object
 2    Country                                               object
 3    Education                                             object
 4    Gender                                                object
 5    Current_Role                                          object
 6    Current_Yearly_Compensation                           object
 7    Time_Writing_Code                                     object
 8    Time_Using_Machine_Learning_Methods                   object
 9    Primary_Tool_Used_For_Data_Analysis                   object
 10   Data_Science_Courses_Cloud_Certification_Programs     object
 11   Data_Science_Courses_Coursera                         object
 12   Data_Science_Courses_Datacamp                         object
 13   Data_Science_Courses_Dataquest                        object
 14   Data_Science_Courses_Developers.Google.Com            object
 15   Data_Science_Courses_Edx                              object
 16   Data_Science_Courses_Fast.Ai                          object
 17   Data_Science_Courses_Kaggle_Courses                   object
 18   Data_Science_Courses_Linkedin_Learning                object
 19   Data_Science_Courses_Other                            object
 20   Data_Science_Courses_Theschool.Ai                     object
 21   Data_Science_Courses_Udacity                          object
 22   Data_Science_Courses_Udemy                            object
 23   Data_Science_Courses_University_Courses               object
 24   Data_Visualization_Libraries_Altair                   object
 25   Data_Visualization_Libraries_Bokeh                    object
 26   Data_Visualization_Libraries_D3_Js                    object
 27   Data_Visualization_Libraries_Folium                   object
 28   Data_Visualization_Libraries_Geoplotlib               object
 29   Data_Visualization_Libraries_Ggplot                   object
 30   Data_Visualization_Libraries_Ggplot2                  object
 31   Data_Visualization_Libraries_Lattice                  object
 32   Data_Visualization_Libraries_Leaflet                  object
 33   Data_Visualization_Libraries_Matplotlib               object
 34   Data_Visualization_Libraries_Other                    object
 35   Data_Visualization_Libraries_Plotly                   object
 36   Data_Visualization_Libraries_Plotly_Express           object
 37   Data_Visualization_Libraries_Seaborn                  object
 38   Data_Visualization_Libraries_Shiny                    object
 39   Ide's_Atom                                            object
 40   Ide's_Emacs                                           object
 41   Ide's_IntelliJ                                        object
 42   Ide's_Jupyter                                         object
 43   Ide's_Matlab                                          object
 44   Ide's_Notepad++                                       object
 45   Ide's_Other                                           object
 46   Ide's_Pycharm                                         object
 47   Ide's_RStudio                                         object
 48   Ide's_Spyder                                          object
 49   Ide's_Sublime_Text                                    object
 50   Ide's_Vim                                             object
 51   Ide's_Visual_Studio                                   object
 52   Ide's_Visual_Studio_Code                              object
 53   Ide's_nteract                                         object
 54   Machine_Learning_Frameworks_Caffe                     object
 55   Machine_Learning_Frameworks_Caret                     object
 56   Machine_Learning_Frameworks_Catboost                  object
 57   Machine_Learning_Frameworks_Cntk                      object
 58   Machine_Learning_Frameworks_Fast.Ai                   object
 59   Machine_Learning_Frameworks_H2o_3                     object
 60   Machine_Learning_Frameworks_Huggingface               object
 61   Machine_Learning_Frameworks_Jax                       object
 62   Machine_Learning_Frameworks_Keras                     object
 63   Machine_Learning_Frameworks_Lightgbm                  object
 64   Machine_Learning_Frameworks_Mlr                       object
 65   Machine_Learning_Frameworks_Mxnet                     object
 66   Machine_Learning_Frameworks_Other                     object
 67   Machine_Learning_Frameworks_Prophet                   object
 68   Machine_Learning_Frameworks_Pytorch                   object
 69   Machine_Learning_Frameworks_Pytorch_Lightning         object
 70   Machine_Learning_Frameworks_Randomforest              object
 71   Machine_Learning_Frameworks_Scikit_Learn              object
 72   Machine_Learning_Frameworks_Spark_Mllib               object
 73   Machine_Learning_Frameworks_Tensorflow                object
 74   Machine_Learning_Frameworks_Tidymodels                object
 75   Machine_Learning_Frameworks_Xgboost                   object
 76   Notebook_Products_Amazon_Emr_Notebooks                object
 77   Notebook_Products_Amazon_Sagemaker_Studio             object
 78   Notebook_Products_Aws_Notebook                        object
 79   Notebook_Products_Azure_Notebooks                     object
 80   Notebook_Products_Binder                              object
 81   Notebook_Products_Code_Ocean                          object
 82   Notebook_Products_Colab_Notebooks                     object
 83   Notebook_Products_Crestle                             object
 84   Notebook_Products_Databricks_Collaborative_Notebooks  object
 85   Notebook_Products_Deepnote_Notebooks                  object
 86   Notebook_Products_Domino_Datalab                      object
 87   Notebook_Products_Floydhub                            object
 88   Notebook_Products_Google_Cloud_Datalab_Notebooks      object
 89   Notebook_Products_Google_Cloud_Notebooks              object
 90   Notebook_Products_Gradient                            object
 91   Notebook_Products_Ibm_Watson_Studio                   object
 92   Notebook_Products_Jupyterhub                          object
 93   Notebook_Products_Kaggle_Notebooks                    object
 94   Notebook_Products_Observable_Notebooks                object
 95   Notebook_Products_Other                               object
 96   Notebook_Products_Paperspace                          object
 97   Notebook_Products_Zepl_Notebooks                      object
 98   Notebook_Products_Zeppelin                            object
 99   Programming_Languages_.Net                            object
 100  Programming_Languages_Bash                            object
 101  Programming_Languages_C                               object
 102  Programming_Languages_C#                              object
 103  Programming_Languages_C++                             object
 104  Programming_Languages_Go                              object
 105  Programming_Languages_Java                            object
 106  Programming_Languages_Javascript                      object
 107  Programming_Languages_Julia                           object
 108  Programming_Languages_Matlab                          object
 109  Programming_Languages_Other                           object
 110  Programming_Languages_Php                             object
 111  Programming_Languages_Python                          object
 112  Programming_Languages_R                               object
 113  Programming_Languages_Ruby                            object
 114  Programming_Languages_SQL                             object
 115  Programming_Languages_Sas                             object
 116  Programming_Languages_Scala                           object
 117  Programming_Languages_Stata                           object
 118  Programming_Languages_Swift                           object
 119  Programming_Languages_Typescript                      object
 120  Programming_Languages_Vba                             object
 121  Programming_Languages_Visual_Basic                    object
dtypes: int64(1), object(121)
memory usage: 83.9+ MB

Column Age

In [6]:
dfall["Age"].unique()
dfall["Age"] = dfall["Age"].replace({
    "18-21": "18-24",
    "22-24": "18-24",
    "25-29": "25-34",
    "30-34": "25-34",
    "35-39": "35-44",
    "40-44": "35-44",
    "45-49": "45-54",
    "50-54": "45-54",
    "55-59": "55-59",
    "60-69": "60-69",
    "70+": "70+",
    "70-79": "70+",
    "80+": "70+"
    })
dfall["Age"].unique()

array(['45-54', '25-34', '35-44', '18-24', '55-59', '60-69', '70+'],
      dtype=object)

Column Country

In [7]:
dfall["Country"].unique()

dfall["Country"] = dfall["Country"].replace({
    "United States of America": "USA",
    "United Arab Emirates": "UAE",
    "Viet Nam": "Vietnam",
    "United Kingdom of Great Britain and Northern Ireland": "UK",
    "Iran, Islamic Republic of...": "Iran",
    "Republic of Korea": "South Korea",
    "Hong Kong (S.A.R.)": "China",
    "Hong Kong": "China",
    "I do not wish to disclose my location": "No location"})

dfall["Country"].unique()

array(['USA', 'Indonesia', 'India', 'Colombia', 'Chile', 'Turkey',
       'Hungary', 'Ireland', 'France', 'Argentina', 'Japan', 'Nigeria',
       'Spain', 'Other', 'Iran', 'UK', 'Poland', 'Kenya', 'Denmark',
       'Netherlands', 'China', 'Sweden', 'Ukraine', 'Canada', 'Australia',
       'Russia', 'Austria', 'Italy', 'Mexico', 'Germany', 'No location',
       'Singapore', 'Brazil', 'Switzerland', 'South Africa',
       'South Korea', 'Malaysia', 'Egypt', 'Tunisia', 'Portugal',
       'Thailand', 'Morocco', 'Pakistan', 'Czech Republic', 'Romania',
       'Israel', 'Philippines', 'Bangladesh', 'Belarus', 'Vietnam',
       'Belgium', 'New Zealand', 'Norway', 'Finland', 'Greece', 'Peru',
       'Taiwan', 'Algeria', 'Saudi Arabia', 'Nepal', 'UAE', 'Ghana',
       'Sri Lanka'], dtype=object)

Column Education

In [8]:
dfall["Education"].unique()


dfall["Education"] = dfall["Education"].replace({
    "Doctoral degree": "Doctor",
    "Master’s degree": "Master",
    "Bachelor’s degree": "Bachelor",
    "No formal education past high school": "High school student",
    "Some college/university study without earning a bachelor’s degree": "College ungraduate",
    "Professional degree": "Professional",
    "I prefer not to answer": "Unknown",
    "Professional doctorate": "Doctor"
    })

dfall["Education"].unique()

array(['Doctor', 'Bachelor', 'Master', 'Professional',
       'College ungraduate', 'Unknown', 'High school student'],
      dtype=object)

Column Gender

In [9]:
dfall["Gender"].unique()

dfall["Gender"] = dfall["Gender"].replace({
    "Prefer to self-describe": "Self-describe",
    "Prefer not to say": "Unknown",
    "Woman": "Female",
    "Man": "Male"
     })

dfall["Gender"].unique()

array(['Female', 'Male', 'Unknown', 'Self-describe', 'Nonbinary'],
      dtype=object)

Column Current Role

In [10]:
dfall["Current_Role"].unique()

dfall["Current_Role"] = dfall["Current_Role"].replace({
    "Currently not employed": "Unemployed",
    "Not employed": "Unemployed",
    "Machine Learning Engineer": "ML Engineer",
    "DBA/Database Engineer": "Database Engineer",
    "Business Analyst": "BI Analyst",
    "Manager": "Product/Project Manager",
    "Program/Project Manager": "Product/Project Manager",
    "Product Manager": "Product/Project Manager",
    "Developer Relations/Advocacy": "Developer Advocate"})

dfall["Current_Role"].unique()

array(['Consultant', 'Other', 'Data Scientist', 'Unemployed',
       'Data Analyst', 'Software Engineer', 'Student',
       'Research Assistant', 'Chief Officer', 'Product/Project Manager',
       'Research Scientist', 'BI Analyst', 'Data Engineer',
       'Developer Advocate', 'Marketing Analyst',
       'Principal Investigator', 'Salesperson', 'Database Engineer',
       'Statistician', 'Data Journalist', 'ML Engineer'], dtype=object)

Column Current Yearly Compensation

In [11]:
dfall['Current_Yearly_Compensation'] = dfall['Current_Yearly_Compensation'].str.replace(r'\s+', '', regex=True)

dfall["Current_Yearly_Compensation"] = dfall["Current_Yearly_Compensation"].replace({"10-20,000": "10-20K",
                                                                                     "0-10,000": "0-10K",
                                                                                     "Idonotwishtodisclosemyapproximateyearlycompensation": "Unknown",
                                                                                     "I do not wish to disclose my approximate yearly compensation": "Unknown",
                                                                                     "20-30,000": "20-30K",
                                                                                     "125-150,000": "100-250K",
                                                                                     "30-40,000": "30-40K",
                                                                                     "50-60,000": "50-60K",
                                                                                     "100-125,000": "100-250K",
                                                                                     "90-100,000": "90-100K",
                                                                                     "70-80,000": "70-80K",
                                                                                     "80-90,000": "80-90K",
                                                                                     "60-70,000": "60-70K",
                                                                                     "400-500,000": "250-500K",
                                                                                     "40-50,000": "40-50K",
                                                                                     "150-200,000": "100-250K",
                                                                                     "500,000+": ">500K",
                                                                                     "300-400,000": "250-500K",
                                                                                     "200-250,000": "100-250K",
                                                                                     "250-300,000": "250-500K",
                                                                                     "30,000-39,999": "30-40K",
                                                                                     "5,000-7,499": "0-10K",
                                                                                     "250,000-299,999": "250-500K",
                                                                                     "4,000-4,999": "0-10K",
                                                                                     "60,000-69,999": "60-70K",
                                                                                     "10,000-14,999": "10-20K",
                                                                                     "80,000-89,999": "80-90K",
                                                                                     "$0-999": "0-10K",
                                                                                     "2,000-2,999": "0-10K",
                                                                                     "70,000-79,999": "70-80K",
                                                                                     "90,000-99,999": "90-100K",
                                                                                     "125,000-149,999": "100-250K",
                                                                                     "40,000-49,999": "40-50K",
                                                                                     "20,000-24,999": "20-30K",
                                                                                     "15,000-19,999": "10-20K",
                                                                                     "100,000-124,999": "100-250K",
                                                                                     "7,500-9,999": "0-10K",
                                                                                     "150,000-199,999": "100-250K",
                                                                                     "25,000-29,999": "20-30K",
                                                                                     "3,000-3,999": "0-10K",
                                                                                     "1,000-1,999": "0-10K",
                                                                                     "200,000-249,999": "250-500K",
                                                                                     "50,000-59,999": "50-60K",
                                                                                     "> $500,000": ">500K",
                                                                                     "300,000-500,000": "250-500K",
                                                                                     "300,000-499,999": "250-500K",
                                                                                     ">$1,000,000": ">500K",
                                                                                     "$500,000-999,999": ">500K",
                                                                                     ">$500,000": ">500K"})

dfall["Current_Yearly_Compensation"].unique()

array([nan, '10-20K', '0-10K', 'Unknown', '20-30K', '100-250K', '30-40K',
       '50-60K', '90-100K', '70-80K', '80-90K', '60-70K', '250-500K',
       '40-50K', '>500K'], dtype=object)

Column Time Writing Code

In [12]:
dfall["Time_Writing_Code"] = dfall['Time_Writing_Code'].str.replace(r'\s*years?$', '', regex=True)

dfall["Time_Writing_Code"].unique()

dfall["Time_Writing_Code"] = dfall["Time_Writing_Code"].replace({"I have never written code but I want to learn": "0",
                                    "I have never written code and I do not want to learn": "0",
                                    "I have never written code": "0",
                                    "0": "0",
                                    "< 1": "0-3",
                                    "1-2": "0-3",
                                    "3-5": "3-5",
                                    "5-10": "5-10",
                                    "10-20": "10-20",
                                    "20-30": "20+",
                                    "30-40": "20+",
                                    "20+": "20+",
                                    "40+": "20+",
                                    "1-3": "0-3",
                                    "40-50": "20+"
                                    })

dfall["Time_Writing_Code"].unique()

array(['0', '5-10', '3-5', '0-3', '10-20', '20+', nan], dtype=object)

Column Time Using Machine Learning Methods

In [13]:
dfall["Time_Using_Machine_Learning_Methods"] = dfall['Time_Using_Machine_Learning_Methods'].str.replace(r'\s*years?$', '', regex=True)

dfall["Time_Using_Machine_Learning_Methods"].unique()

dfall["Time_Using_Machine_Learning_Methods"] = dfall["Time_Using_Machine_Learning_Methods"].replace({"'I have never studied machine learning but plan to learn in the future": "0",
                                    "< 1": "0-3",
                                    "4-5": "3-5",
                                    "2-3": "0-3",
                                    "1-2": "0-3",
                                    "3-4": "3-5",
                                    "I have never studied machine learning and I do not plan to": "0",
                                    "I have never studied machine learning but plan to learn in the future": "0",
                                    "10-15": "10-20",
                                    "I do not use machine learning methods": "0",
                                    "Under 1": "0-3",
                                    "20 or more": "20+",
                                    "10-20": "10-20"})

dfall["Time_Using_Machine_Learning_Methods"].unique()

array(['0', '0-3', '3-5', '5-10', '20+', '10-20', nan], dtype=object)

Column Primary Tool Used For Data Analysis

In [14]:
dfall["Primary_Tool_Used_For_Data_Analysis"] = dfall["Primary_Tool_Used_For_Data_Analysis"].replace({"Basic statistical software (Microsoft Excel, Google Sheets, etc.)": "Basic",
                                                                                                 "Business intelligence software (Salesforce, Tableau, Spotfire, etc.)": "BI",
                                                                                                  "Local development environments (RStudio, JupyterLab, etc.)": "Local DE",
                                                                                                  "Local or hosted development environments (RStudio, JupyterLab, etc.)": "Local DE", 
                                                                                                  "Cloud-based data software & APIs (AWS, GCP, Azure, etc.)": "Cloud-based & APIs",
                                                                                                  "Advanced statistical software (SPSS, SAS, etc.)": "Advanced"
 })
dfall["Primary_Tool_Used_For_Data_Analysis"].unique()

array(['Cloud-based & APIs', 'Basic', 'Local DE', 'Advanced', 'Other',
       'BI', nan], dtype=object)

Column Data Science Courses Cloud Certification Programs

In [15]:
dfall["Data_Science_Courses_Cloud_Certification_Programs"].unique()

dfall["Data_Science_Courses_Cloud_Certification_Programs"] = dfall["Data_Science_Courses_Cloud_Certification_Programs"].replace({"Cloud-certification programs (direct from AWS, Azure, GCP, or similar)":"Cloud-certification"})

dfall["Data_Science_Courses_Cloud_Certification_Programs"].unique()

array([nan, 'Cloud-certification'], dtype=object)

Column Data Science Courses Developers.Google.Com

In [16]:
dfall["Data_Science_Courses_Developers.Google.Com"] = dfall["Data_Science_Courses_Developers.Google.Com"].replace({"developers.google.com": "Google Developers"})

dfall["Data_Science_Courses_Developers.Google.Com"].unique()

array([nan, 'Google Developers'], dtype=object)

Column Data Science Courses Fast.Ai

In [17]:
dfall["Data_Science_Courses_Fast.Ai"].unique()

dfall["Data_Science_Courses_Fast.Ai"] = dfall["Data_Science_Courses_Fast.Ai"].replace({"Fast.AI":"Fast.ai"})

dfall["Data_Science_Courses_Fast.Ai"].unique()

array([nan, 'Fast.ai'], dtype=object)

Column Data Science Courses Kaggle Courses

In [18]:
dfall["Data_Science_Courses_Kaggle_Courses"].unique()

dfall['Data_Science_Courses_Kaggle_Courses'] = dfall['Data_Science_Courses_Kaggle_Courses'].apply(lambda x: 'Kaggle' if 'Kaggle' in str(x) else x)

dfall["Data_Science_Courses_Kaggle_Courses"].unique()

array([nan, 'Kaggle'], dtype=object)

Column University Courses

In [19]:
dfall["Data_Science_Courses_University_Courses"].unique()

dfall["Data_Science_Courses_University_Courses"] = dfall["Data_Science_Courses_University_Courses"].replace({"Online University Courses": "University",
                                                                                                             "University Courses (resulting in a university degree)": "University"})
dfall["Data_Science_Courses_University_Courses"].unique()

array([nan, 'University'], dtype=object)

Column Data Visualization Libraries D3 Js

In [20]:
dfall["Data_Visualization_Libraries_D3_Js"].unique()

dfall["Data_Visualization_Libraries_D3_Js"] = dfall["Data_Visualization_Libraries_D3_Js"].replace({"D3":"D3 js",
                                                                                                   "D3.js": "D3 js",
                                                                                                   "D3 js": "D3 js"})
dfall["Data_Visualization_Libraries_D3_Js"].unique()

array([nan, 'D3 js'], dtype=object)

Column Data Visualization Libraries Ggplot2

In [21]:
dfall["Data_Visualization_Libraries_Ggplot2"].unique()

dfall["Data_Visualization_Libraries_Ggplot2"] = dfall["Data_Visualization_Libraries_Ggplot2"].replace({"ggplot2": "Ggplot2"})

dfall["Data_Visualization_Libraries_Ggplot2"].unique()

array([nan, 'Ggplot2'], dtype=object)

Column Ide's Jupyter

In [22]:
dfall["Ide's_Jupyter"].unique()

dfall["Ide's_Jupyter"] = dfall["Ide's_Jupyter"].replace({"Jupyter/IPython": "Jupyter",
                                                         "Jupyter (JupyterLab, Jupyter Notebooks, etc)": "Jupyter",
                                                         "Jupyter (JupyterLab, Jupyter Notebooks, etc) / Jupyter Notebook": "Jupyter"})
dfall["Ide's_Jupyter"].unique()

array(['Jupyter', nan], dtype=object)

Column Ide's Visual Studio Code

In [23]:
dfall["Ide's_Visual_Studio_Code"].unique()

dfall["Ide's_Visual_Studio_Code"] = dfall["Ide's_Visual_Studio_Code"].replace({"Visual Studio Code": "VS Code",
                                                                               "Visual Studio Code (VSCode)": "VS Code"})
dfall["Ide's_Visual_Studio_Code"].unique()

array([nan, 'VS Code'], dtype=object)

Column Machine Learning Frameworks Catboost

In [24]:
dfall["Machine_Learning_Frameworks_Catboost"].unique()

dfall["Machine_Learning_Frameworks_Catboost"] = dfall["Machine_Learning_Frameworks_Catboost"].replace({"catboost": "CatBoost"})

dfall["Machine_Learning_Frameworks_Catboost"].unique()

array([nan, 'CatBoost'], dtype=object)

Column Machine Learning Frameworks Fast.Ai

In [25]:
dfall["Machine_Learning_Frameworks_Fast.Ai"].unique()

dfall["Machine_Learning_Frameworks_Fast.Ai"] = dfall["Machine_Learning_Frameworks_Fast.Ai"].replace({"Fastai": "Fast.ai"})

dfall["Machine_Learning_Frameworks_Fast.Ai"].unique()

array([nan, 'Fast.ai'], dtype=object)

Column Machine Learning Frameworks LightGBM

In [26]:
dfall["Machine_Learning_Frameworks_Lightgbm"].unique()

dfall["Machine_Learning_Frameworks_Lightgbm"] = dfall["Machine_Learning_Frameworks_Lightgbm"].replace({"lightgbm": "LightGBM"})

dfall["Machine_Learning_Frameworks_Lightgbm"].unique()

array([nan, 'LightGBM'], dtype=object)

Column Machine Learning Frameworks Mlr

In [27]:
dfall["Machine_Learning_Frameworks_Mlr"].unique()

dfall["Machine_Learning_Frameworks_Mlr"] = dfall["Machine_Learning_Frameworks_Mlr"].replace({"mlr": "Mlr"})

dfall["Machine_Learning_Frameworks_Mlr"].unique()

array([nan, 'Mlr'], dtype=object)

Column Machine Learning Frameworks Mxnet

In [28]:
dfall["Machine_Learning_Frameworks_Mxnet"].unique()

dfall["Machine_Learning_Frameworks_Mxnet"] = dfall["Machine_Learning_Frameworks_Mxnet"].replace({"MXNet": "Mxnet"})

dfall["Machine_Learning_Frameworks_Mxnet"].unique()

array([nan, 'Mxnet'], dtype=object)

Column Machine Learning Frameworks Randomforest

In [29]:
dfall["Machine_Learning_Frameworks_Randomforest"].unique()

dfall["Machine_Learning_Frameworks_Randomforest"] = dfall["Machine_Learning_Frameworks_Randomforest"].replace({"randomForest": "RandomForest"})

dfall["Machine_Learning_Frameworks_Randomforest"].unique()

array([nan, 'RandomForest'], dtype=object)

Column Machine Learning Frameworks Scikit-Learn

In [30]:
dfall["Machine_Learning_Frameworks_Scikit_Learn"].unique()

dfall["Machine_Learning_Frameworks_Scikit_Learn"] = dfall["Machine_Learning_Frameworks_Scikit_Learn"].replace({"Scikit-learn": "Scikit_Learn",
                                                                                                               "Scikit_Learn": "Scikit-Learn"})
dfall["Machine_Learning_Frameworks_Scikit_Learn"].unique()

array([nan, 'Scikit-Learn', 'Scikit_Learn'], dtype=object)

Column Machine Learning Frameworks Spark MLlib

In [31]:
dfall["Machine_Learning_Frameworks_Spark_Mllib"].unique()

dfall["Machine_Learning_Frameworks_Spark_Mllib"] = dfall["Machine_Learning_Frameworks_Spark_Mllib"].replace({"Spark MLib": "Spark MLlib"})

dfall["Machine_Learning_Frameworks_Spark_Mllib"].unique()

array([nan, 'Spark MLlib'], dtype=object)

Column Notebook Products Amazon Emr Notebooks

In [32]:
dfall["Notebook_Products_Amazon_Emr_Notebooks"].unique()

dfall["Notebook_Products_Amazon_Emr_Notebooks"] = dfall["Notebook_Products_Amazon_Emr_Notebooks"].replace({"Amazon EMR Notebooks": "Amazon EMR"})

dfall["Notebook_Products_Amazon_Emr_Notebooks"].unique()

array([nan, 'Amazon EMR'], dtype=object)

Column Notebook Products Amazon Sagemaker Studio

In [33]:
dfall["Notebook_Products_Amazon_Sagemaker_Studio"].unique()

dfall["Notebook_Products_Amazon_Sagemaker_Studio"] = dfall["Notebook_Products_Amazon_Sagemaker_Studio"].replace({"Amazon Sagemaker Studio Notebooks": "Amazon Sagemaker Studio"})

dfall["Notebook_Products_Amazon_Sagemaker_Studio"].unique()

array([nan, 'Amazon Sagemaker Studio'], dtype=object)

Column Notebook Products Aws Notebook

In [34]:
dfall["Notebook_Products_Aws_Notebook"].unique()

dfall["Notebook_Products_Aws_Notebook"] = dfall["Notebook_Products_Aws_Notebook"].replace({"AWS Notebook Products (EMR Notebooks, Sagemaker Notebooks, etc)": "AWS Notebook Products"})

dfall["Notebook_Products_Aws_Notebook"].unique()

array([nan, 'AWS Notebook Products'], dtype=object)

Column Notebook Products Azure Notebooks

In [35]:
dfall["Notebook_Products_Azure_Notebooks"].unique()

dfall['Notebook_Products_Azure_Notebooks'] = dfall['Notebook_Products_Azure_Notebooks'].apply(lambda x: 'Azure' if isinstance(x, str) and 'azure' in x.lower() else x)

dfall["Notebook_Products_Azure_Notebooks"].unique()

array([nan, 'Azure'], dtype=object)

Column Notebook Products Google Colab

In [36]:
dfall["Notebook_Products_Colab_Notebooks"].unique()

dfall["Notebook_Products_Colab_Notebooks"] = dfall["Notebook_Products_Colab_Notebooks"].replace({"Colab Notebooks": "Google Colab"})

dfall["Notebook_Products_Colab_Notebooks"].unique()

array([nan, 'Google Colab'], dtype=object)

Column Notebook Products Databricks Collaborative Notebooks

In [37]:
dfall["Notebook_Products_Databricks_Collaborative_Notebooks"].unique()

dfall["Notebook_Products_Databricks_Collaborative_Notebooks"] = dfall["Notebook_Products_Databricks_Collaborative_Notebooks"].replace({"Databricks Collaborative Notebooks": "Databricks Collaborative"})

dfall["Notebook_Products_Databricks_Collaborative_Notebooks"].unique()

array([nan, 'Databricks Collaborative'], dtype=object)

Column Notebook Products Deepnote Notebooks

In [38]:
dfall["Notebook_Products_Deepnote_Notebooks"].unique()

dfall["Notebook_Products_Deepnote_Notebooks"] = dfall["Notebook_Products_Deepnote_Notebooks"].replace({"Deepnote Notebooks": "Deepnote"})

dfall["Notebook_Products_Deepnote_Notebooks"].unique()

array([nan, 'Deepnote'], dtype=object)

Column Notebook Products Floydhub

In [39]:
dfall["Notebook_Products_Floydhub"].unique()

dfall["Notebook_Products_Floydhub"] = dfall["Notebook_Products_Floydhub"].replace({"Floydhub": "FloydHub"})

dfall["Notebook_Products_Floydhub"].unique()

array([nan, 'FloydHub'], dtype=object)

Column Notebook Products Google Cloud Datalab Notebooks

In [40]:
dfall["Notebook_Products_Google_Cloud_Datalab_Notebooks"].unique()

dfall["Notebook_Products_Google_Cloud_Datalab_Notebooks"] = dfall["Notebook_Products_Google_Cloud_Datalab_Notebooks"].replace({"Google Cloud Datalab Notebooks": "Google Cloud Datalab"})

dfall["Notebook_Products_Google_Cloud_Datalab_Notebooks"].unique()

array([nan, 'Google Cloud Datalab'], dtype=object)

Column Notebook Products Google Cloud Notebooks

In [41]:
dfall["Notebook_Products_Google_Cloud_Notebooks"].unique()

dfall['Notebook_Products_Google_Cloud_Notebooks'] = dfall['Notebook_Products_Google_Cloud_Notebooks'].apply(lambda x: 'Google Cloud' if isinstance(x, str) and 'google cloud' in x.lower() else x)

dfall["Notebook_Products_Google_Cloud_Notebooks"].unique()

array([nan, 'Google Cloud'], dtype=object)

Column Notebook Products Kaggle Notebooks

In [42]:
dfall["Notebook_Products_Kaggle_Notebooks"].unique()

dfall['Notebook_Products_Kaggle_Notebooks'] = dfall['Notebook_Products_Kaggle_Notebooks'].apply(lambda x: 'Kaggle' if isinstance(x, str) and 'Kaggle' in x else x)

dfall["Notebook_Products_Kaggle_Notebooks"].unique()

array([nan, 'Kaggle'], dtype=object)

Column Notebook Products Observable Notebooks

In [43]:
dfall["Notebook_Products_Observable_Notebooks"].unique()

dfall["Notebook_Products_Observable_Notebooks"] = dfall["Notebook_Products_Observable_Notebooks"].replace({"Observable Notebooks": "Observable"})

dfall["Notebook_Products_Observable_Notebooks"].unique()

array([nan, 'Observable'], dtype=object)

Column Programming Languages Typescript

In [44]:
dfall["Programming_Languages_Typescript"].unique()

dfall["Programming_Languages_Typescript"] = dfall["Programming_Languages_Typescript"].replace({"Typescript": "TypeScript"})

dfall["Programming_Languages_Typescript"].unique()

array([nan, 'TypeScript'], dtype=object)

In [45]:
dfall

,Year,Age,Country,Education,Gender,Current_Role,Current_Yearly_Compensation,Time_Writing_Code,Time_Using_Machine_Learning_Methods,Primary_Tool_Used_For_Data_Analysis,...,Programming_Languages_R,Programming_Languages_Ruby,Programming_Languages_SQL,Programming_Languages_Sas,Programming_Languages_Scala,Programming_Languages_Stata,Programming_Languages_Swift,Programming_Languages_Typescript,Programming_Languages_Vba,Programming_Languages_Visual_Basic
0,2018,45-54,USA,Doctor,Female,Consultant,NaN,0,0,Cloud-based & APIs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,25-34,Indonesia,Bachelor,Male,Other,10-20K,0,0,Basic,...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,25-34,USA,Master,Female,Data Scientist,0-10K,5-10,0-3,Local DE,...,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,35-44,USA,Master,Male,Unemployed,NaN,5-10,3-5,Local DE,...,R,NaN,SQL,NaN,NaN,NaN,NaN,TypeScript,NaN,NaN
4,2018,18-24,India,Master,Male,Data Analyst,0-10K,5-10,0-3,Advanced,...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89580,2021,25-34,Other,Bachelor,Male,Data Analyst,10-20K,0-3,0-3,BI,...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89581,2021,18-24,Other,Master,Male,Student,NaN,0-3,0-3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89582,2021,45-54,Other,Doctor,Male,Research Scientist,0-10K,0,NaN,Basic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89583,2021,45-54,USA,Master,Male,Data Scientist,NaN,5-10,3-5,NaN,...,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89584,2021,18-24,India,Bachelor,Male,BI Analyst,0-10K,0,NaN,Advanced,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Control of empty spaces inside cells

In [46]:
# removing empty spaces

dfall = dfall.apply(lambda col: col.map(lambda x: x.strip() if isinstance(x, str) else x))

# check empty spaces
mask = dfall.stack().map(lambda x: isinstance(x, str) and (x != x.strip()))

if mask.any():
    print("Cells contain empty spaces")
else:
    print("Cells are clean")


# save df to CSV file
dfall.to_csv("df18-21_cleaned.csv", index=False)

Cells are clean